<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi everyone i am Jyoti Kumari software engineer from Google!!</h1>
    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, temporibus!</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus unde nisi nostrum dignissimos quidem maxime? Officiis harum, quia, adipisci temporibus maiores rerum omnis modi doloribus corrupti at magnam dignissimos similique.</p>

</body>
</html>