{%extends 'base.html'%}

{%block start%}
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
    <h1>Home Page dear!💗</h1>
    <h2>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi,
      temporibus!
    </h2>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus unde
      nisi nostrum dignissimos quidem maxime? Officiis harum, quia, adipisci
      temporibus maiores rerum omnis modi doloribus corrupti at magnam
      dignissimos similique.
    </p>
    <a href="/sucess_page/">Sucess page</a>
    <a href="/trail_page/">home</a>
{%endblock%}