{%extends 'base.html'%}
{%block start %}
<form class="col-6 mx-auto card p-3 shadow-lg" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <h2>Add Task</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Task Domain</label>
      <input type="text" class="form-control"  aria-describedby="emailHelp" name="task_domain">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Task Description</label>
      <textarea name="task_description"  class="form-control" name="task_description"></textarea>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Due Date</label>
        <input type="date" class="form-control"  aria-describedby="emailHelp" name="task_due_date">
      </div>
    <button type="submit" class="btn btn-success">Submit</button></form>
    <div class="center-container">
      <a href="/table_todo/"><button class="btn btn-success" style="margin-left: 400px; width: 45%;" href="/table_todo/">View table</button></a>
  </div>
  

  

{%endblock%}